.slide-container{
    position: relative;
    max-width: 100%;
}
.slide img{
    width: 100%;
    max-height: 600px;
    background-size: cover;
}
.effect{
    animation-name: effect;
    animation-duration: 1s;
}

@keyframes effect{
    from{opacity: 0.1;}
    to{ opacity: 1;}
}

.dot-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: blue;
    margin: 0 5px;
    transition: all 0.6s linear;
}
.active{
    background-color: red;
}